// *************************************
//
//   Accordion
//   -> list
//
// .structure[.structure--modifier](.is-state)(.has-context)
//   .structure-scaffolding
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------
$accordion-arrow-font-size: 14px;

// -------------------------------------
//   Base
// -------------------------------------

.accordion {
  list-style: none;
  padding-left: em(46px);
  font-style: italic;
  > li {
    position: relative;
  }
}

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- item ----- //
.accordion-item {
    cursor: pointer;

  &.is-active {
    cursor: auto;

    p {
      display: block;
    }

    .accordion-arrow {
      top: em(3px, $accordion-arrow-font-size);
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    .accordion-dots {
      display: none;
    }

    .accordion-arrowRight {
      display: none;
    }

    .accordion-full {
      display: inline;
    }
  }

  p {
    display: none;

    &:first-of-type {
      display: block;
    }
  }
}

// ----- Arrow ----- //
.accordion-arrow {
  height: em(14px, $accordion-arrow-font-size);
  left: em(-21px, $accordion-arrow-font-size);
  position: absolute;
  width: em(12px, $accordion-arrow-font-size);
  top: em(2px, $accordion-arrow-font-size);
  transition: all 0.2s ease-out;

 .icon {
   fill: $green;
 }
}

// ----- ArrowRight ----- //
.accordion-arrowRight {
  display: inline-block;
  height: em(16px);
  width: em(16px);
  transition: all 0.2s ease-out;
  cursor: pointer;

  .icon {
    fill: $c-highlight-inactive;
  }

//  .icon use>svg {
//    fill: $c-highlight-inactive;
//  }

  &:hover {
    .icon {
      fill: $c-highlight;
    }
  }
}

// ----- Full ----- //
.accordion-full {
  display: none;
}
