// *************************************
//
//   Contacts Blocks
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

// -------------------------------------
//   Base
// -------------------------------------

.contactsBlocks {
    position: relative;
    height: em(425px);
}

// -------------------------------------
//   Scaffolding
// -------------------------------------

.contactsBlocks-item {
    position: absolute;
}

.contactsBlocks-item--first {
    top: 0;
    right: em(365px);
}

.contactsBlocks-item--main {
    top: em(69px);
    right: em(240px);
}

.contactsBlocks-item--second {
    top: em(69px);
    right: 0;
}

.contactsBlocks-text {
    position: absolute;
    width: em(200px);
    height: em(75px);
}

.contactsBlocks-text--first {
    top: em(312px);
    left: em(80px);
}

.contactsBlocks-text--second {
    top: em(360px);
    left: em(650px);
}

.contactsBlocks-email {
    position: absolute;
    font-size: em(20px);
    top: em(252px, 20px);
    right: em(240px, 20px);
    width: em(229px, 20px);
    height: em(20px, 20px);
    text-align: center;
    color: $light;
}
