// *************************************
//
//   Footer
//
// .structure[.structure--modifier](.is-state)(.has-context)
//   .structure-scaffolding
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------
$footer-social-item-color: #edeced;

// -------------------------------------
//   Base
// -------------------------------------

.footer {
    position: relative;
    height: em(123px);
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.footer-main {
  color: white;
}

.footer-contacts {
  float: left;
  width: em(606px);
}

.footer-contacts-item {
  padding-top: em(18px, 12px);
  padding-bottom: em(23px, 12px);
  font-size: em(12px);
  line-height: 1.5;
}

.footer-contacts-about {
  padding: 0;
}

.footer-social {
  float: right;
  padding-top: em(10px);
}

.footer-social-item {
  display: inline-block;
  width: em(27px);
  height: em(28px);
  .icon {
    fill: $footer-social-item-color;
  }
  .icon--active {
    display: none;
  }
  &:hover {
    .icon {
      display: none;
    }
    .icon--active {
      display: inline-block;
    }
  }
}

.footer-copy {
  padding: em(6px, 12px) em(5px, 12px);
  font-size: em(12px);
  color: #cccbcb;
}

.footer-copy-splitter {
  margin: 0 em(18px, 12px);
}
