// *************************************
//
//   Header
//   -> main header
//
// .structure[.structure--modifier](.is-state)(.has-context)
//   .structure-scaffolding
//
// *************************************

.header {
  position: relative;
  height: em(127px);
  overflow: visible;
  z-index: 2;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Logo ----- //
.header-logo {
  height: 117px;
  position: absolute;
  top: em(25px);
  left: 0;
  width: 262px;
}

// ----- Lang ----- //
.header-lang {
  position: absolute;
  right: 0;
  top: 0;
}

// ----- Menu ----- //
.header-menu {
  padding-top: em(73px);
}
