// *************************************
//
//   Main
//
// *************************************

$main-title-fontSize: em(28px) !default;
$main-title-padding: 0 0 $b-space-xs em(200px, 28px) !default;
$main-title-margin: 0 0 (0.8*$b-space) !default;

// -------------------------------------
//   Variables
// -------------------------------------

.main {
	position: relative;
	padding-bottom: em(55px);
	z-index: 3;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.main-title {
	margin: $main-title-margin;
	padding: $main-title-padding;
	font-size: $main-title-fontSize;
	line-height: $b-lineHeight-heading;
	text-transform: uppercase;
	text-align: right;
}
