// *************************************
//
//   Main Container
//
// *************************************

.mainContainer {
	position: relative;
	min-height: 100%;
	margin-bottom: em(-123px);
	&:after {
	  content: "";
	  display: block;
	  height: em(123px);
	}
}
