// *************************************
//
//   portfolioImages
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

$portfolioImages-image-width: em(183px) !default;
$portfolioImages-image-height: em(183px) !default;

// -------------------------------------
//   Base
// -------------------------------------

.portfolioImages {
    @extend .group;
}

// -------------------------------------
//   Scaffolding
// -------------------------------------


.portfolioImages-item {
    display: block;
    position: relative;
    float: left;
    width: $portfolioImages-image-width;
    height: $portfolioImages-image-height;
    margin: 0 em(10px) em(10px) 0;
    overflow: hidden;

    &:hover,
    &:focus {
        border: 0 none;
        .portfolioImages-item-active {
            opacity: 1;
        }
    }

	&:nth-child(3n+0) {
		margin-right: 0;
	}
}

.portfolioImages-item-image {
    img {
        display: block;
    }
}

.portfolioImages-item-active {
    opacity: 0;
    position: absolute;
    top: -(($portfolioGrid-image-height - $portfolioImages-image-height)/2);
    left: -(($portfolioGrid-image-width - $portfolioImages-image-width)/2);
    width: $portfolioGrid-image-width;
    height: $portfolioGrid-image-height;
    background: url(../images/portfolio-active.png) no-repeat;
    background-size: $portfolioGrid-image-width $portfolioGrid-image-height;
    @include transition(opacity 0.2s ease-in-out);
}
