// *************************************
//
//   portfolioGrid
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

// -------------------------------------
//   Base
// -------------------------------------

.portfolioGrid {
}

// -------------------------------------
//   Scaffolding
// -------------------------------------

.portfolioGrid-item {
    display: block;
	position: relative;
    margin-bottom: em(15px);
	overflow: hidden;
    color: $c-text;
    text-transform: uppercase;

    &:hover,
    &:focus {
        border: 0 none;
		.portfolioGrid-item-active {
			opacity: 1;
		}
	}
}

.portfolioGrid-item-image {
    margin-bottom: em(10px);
	width: $portfolioGrid-image-width;
	height: $portfolioGrid-image-height;
}


.portfolioGrid-item-active {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: $portfolioGrid-image-width;
	height: $portfolioGrid-image-height;
	background: url(../images/portfolio-active.png) no-repeat;
	background-size: $portfolioGrid-image-width $portfolioGrid-image-height;
    @include transition(opacity 0.2s ease-in-out);
}

.portfolioGrid-item-name {
    width: $portfolioGrid-image-width;
}