// *************************************
//
//   Section
//
// *************************************

$section-title-borderColor: $gray !default;

// -------------------------------------
//   Variables
// -------------------------------------

/*.section {

}*/

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.section-title {
	@extend .main-title;
	margin: 0 0 $b-space-xs;
	padding: $b-space-xs 0;
	border-bottom: 1px solid $section-title-borderColor;
	text-align: left;
}
