// *************************************
//
//   serviceInfo
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

// -------------------------------------
//   Base
// -------------------------------------

.serviceInfo {
	margin-top: em(6px);
	padding-top: em(23px);
	border-top: 2px solid $mercury;
}

// -------------------------------------
//   Modifiers
// -------------------------------------
