// *************************************
//
//   serviceFigure
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

// -------------------------------------
//   Base
// -------------------------------------

.serviceFigure {
	height: 185px;
	background: url('../images/services-figures.png') no-repeat top left;
	background-size: 1217px 185px;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

.serviceFigure--small {
	@include transform(scale(0.654052));
	@include css3-prefix('transform-origin', '0 0');
}

.serviceFigure--fig1 {
	width: 228px;
	background-position: -237px 0;

	.services-item--fig1:hover & {
		background-position: 0 0;
	}
}

.serviceFigure--fig2 {
	width: 195px;
	background-position: -1022px 0;

	.services-item--fig2:hover & {
		background-position: -818px 0;
	}
}

.serviceFigure--fig3 {
	width: 163px;
	background-position: -646px 0;

	.services-item--fig3:hover & {
		background-position: -474px 0;
	}
}
