// *************************************
//
//   serviceName
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

// -------------------------------------
//   Base
// -------------------------------------

.serviceName {
	position: relative;
	padding-bottom: em(15px, 28px);
	margin-bottom: em(48px, 28px);
	font-size: em(28px);
	text-transform: uppercase;
	line-height: 1.2;

	&:after {
		position: absolute;
		bottom: 0;
		right: 0;
		content: ' ';
		height: 2px;
		width: 75px;
		background-color: $mercury;
	}
}

// -------------------------------------
//   Modifiers
// -------------------------------------

.serviceName--list {
	margin-bottom: em(13px, 28px);

	&:after {
		right: auto;
		left: 0;
	}
}
