// *************************************
//
//   Skip Links
//
// *************************************

.skipLinks
{
    position: absolute;
    top: -300px;
    width: 80%;
    left: 40px;
    z-index: 20;
    overflow: visible;
}

.skipLinks a
{
    position: absolute;
    top: 0;
    z-index: 30;
}

.skipLinks a:active,
.skipLinks a:focus
{
    top: 305px;
    height: 1.6em;
}

