// *************************************
//
//   Structure
//   -> This is an example structure
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .structure[.structure--modifier](.is-state)(.has-context)
//   .structure-scaffolding
//
// *************************************

.slide {
  height: 100%;
  left: em(-20px);
  overflow: hidden;
  position: absolute;
  top: 0;
  width: em(1333px);
  z-index: 1;

  &:before, &:after {
    content: "";
    height: 0;
    position: absolute;
    width: 0;
	z-index: 50;
  }
  &:before {
    border-top: em(108px) solid $c-background;
    border-right: em(108px) solid transparent;
    left: 0;
    top: 0;
  }
  &:after {
    border-bottom: em(108px) solid $c-background;
    border-left: em(108px) solid transparent;
    bottom: 0;
    right: 0;
  }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Grid ----- //
.slide-grid {
  position: absolute;
  top: 0;
  right: 0;
  width: 551px;
  height: 402px;
  background: transparent url(../images/slide-grid.svg) no-repeat center center;
  z-index: 60;
}

// ----- Item ----- //
.slide-item {
	position: absolute;
	top: 0;
	left: 0;

	// &:nth-child(1) {
	// 	@include animation(fade 24s 0s infinite);
	// 	z-index:30;
	// }
	// &:nth-child(2) {
	// 	@include animation(fade 24s 8s infinite);
	// 	z-index:20;
	// }
	// &:nth-child(3) {
	// 	@include animation(fade 24s 16s infinite);
	// 	z-index:10;
	// }
}
