// *************************************
//
//   Twitter
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

$twitter-text-fontSize: 14px !default;
$twitter-date-fontSize: 12px !default;

// -------------------------------------
//   Base
// -------------------------------------

// -------------------------------------
//   Scaffolding
// -------------------------------------

.twitter-item {
  color: $social-tweet-color;
  margin-bottom: em(10px);
  padding-left: em(33px);
  position: relative;
  &:last-of-type {
    margin-bottom: em(23px);
  }
}

.twitter-item-logo {
  height: em(19px);
  left: 0;
  position: absolute;
  top: em(4px);
  width: em(23px);
}

.twitter-item-text {
  font-size: em($twitter-text-fontSize);
}

.twitter-item-date {
  font-style: italic;
  font-size: em($twitter-date-fontSize);
}
