// *************************************
//
//   Base
//   -> Tag-level settings
//
// *************************************

html {
	height: 100%;
	background: $c-background;
	color: $c-text;
	font-family: $b-fontFamily;
	font-size: $b-fontSize;
	line-height: $b-lineHeight;
}

body {
	height: 100%;
	font-size: 100%;
}

// -------------------------------------
//   Block Content
// -------------------------------------

ul, p {
  margin-bottom: $b-space-s;
  margin-top: 0;
}

ul {
	padding-top: em(19px);
	padding-left: em(45px);
}

li {
  position: relative;
  margin-bottom: $b-space-s;
  margin-top: 0;
  padding-left: 0;
  list-style: none;

  .list-arrow {
    height: em(14px);
    left: em(-25px);
    position: absolute;
    width: em(12px);
    top: em(2px);
  }
}

p {
  text-align: justify;
}

// ----- Headings ----- //

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: $b-fontFamily-heading;
  font-weight: normal;
  line-height: $b-lineHeight-heading;
  margin-bottom: $b-space-xs;
  margin-top: 0;
}

h1, .h1 {
  font-size: 200%;
}

h2, .h2 {
  font-size: 175%;
}

h3, .h3 {
  font-size: 125%;
}

h4, .h4 {
  font-size: 110%;
}

// -------------------------------------
//   Inline Content
// -------------------------------------

// ----- Links ----- //

a {
  color: $c-highlight;
  text-decoration: none;
  &:hover,
  &:focus {
    border-bottom-color: $c-highlight;
    color: $c-highlight-active;
  }
}

// ----- Images ----- //

img {
  height: auto;
  max-width: 100%;
}
