// *************************************
//
//   Config
//   -> Fonts, Variables
//
// *************************************

// -------------------------------------
//   @font-face
// -------------------------------------

// ----- Open Sans ----- //

@include font-face("OpenSans", "../fonts/opensans-light", normal, normal);

@include font-face("OpenSans", "../fonts/opensans-lightitalic", normal, italic);

@include font-face("OpenSans", "../fonts/opensans-semibold", bold, normal);

// -------------------------------------
//   Colors
// -------------------------------------

// ----- Palette ----- //

// http://chir.ag/projects/name-that-color/

$light: #ffffff;
$dark: #000000;
$plum: #4e4e5b;
$green: rgb(206, 216, 40);
$default: rgb(102, 102, 102);
$shadyLady: rgb(179, 178, 179);
$jungle-green: #209f93;
$mercury: #e4e3e3;

$we: $green;
$portfolio: rgb(128, 196, 96);
$blog: rgb(68, 178, 120);
$services: rgb(32, 159, 147);
$contacts: rgb(71, 111, 116);
$gray: rgb(210, 210, 210);

// ----- Base ----- //

$c-background-invert: #4f4f4f;
$c-background: white;
$c-border: $gray;
$c-highlight: $green;
$c-highlight-active: $jungle-green;
$c-highlight-inactive: $shadyLady;
$c-subdue: lighten($plum, 40%);
$c-text-invert: white;
$c-text: #676767;

// ----- Components ----- //

// nav
$nav-default-link-color: $default;
$nav-we-link-color: $we;
$nav-portfolio-link-color: $portfolio;
$nav-blog-link-color: $blog;
$nav-services-link-color: $services;
$nav-contacts-link-color: $contacts;

// row
$row--a-background: #b3b2b3;
$row--b-background: #807f7f;

// -------------------------------------
//   Base
// -------------------------------------

// ----- Borders & Box Shadow ----- //

$b-borderRadius: 3px;
$b-borderStyle: solid;
$b-borderWidth: 2px;
$b-border: $b-borderWidth $b-borderStyle $c-border;
$b-boxShadow: 0 2px 0 rgba($c-text, 0.25);

// ----- Typography ----- //

$b-fontFamily-heading: "OpenSans";
$b-fontFamily: "OpenSans";
$b-fontSize: 16px;
$b-fontSize-xs: 60%;
$b-fontSize-s: 75%;
$b-fontSize-m: 90%;
$b-fontSize-l: 115%;
$b-fontSize-xl: 150%;
$b-lineHeight: 1.375;
$b-lineHeight-heading: 1.2;

// ----- Sizing ----- //

$b-maxWidth: em(960px);
$b-maxWidth-l: em(1662px);
$b-maxWidth-n: em(890px);
$b-space: em(20px);
$b-space-xs: 0.25 * $b-space;
$b-space-s: 0.5 * $b-space;
$b-space-l: 2 * $b-space;
$b-space-xl: 4 * $b-space;

// column sizes
$b-column-m1: em(230px);
$b-column-m2: em(304px);
$b-column-l1: em(569px);
$b-column-l2: em(588px);

// -------------------------------------
//   Components
// -------------------------------------

// ----- Grid ----- //

// Breakpoints

$g-s: em(480px);
$g-m: em(800px);
$g-l: em(1024px);

// Settings

$g-columns: 12;
$g-defaults: "s" $g-s, "m" $g-m, "l" $g-l;
$g-gutter: 20px;
$g-silent: false;

// Selector

$g-selector: if($g-silent, unquote("%"), unquote("."));

// -------------------------------------
//   Structures
// -------------------------------------

// ----- Social ----- //

// Colors
$social-tweet-color: rgb(152, 152, 152);

// ----- Footer ----- //

// Colors
$footer-main-color: white;
$footer-copy-color: #cccbcb;

// Typography
$footer-font-size: em(12px);

// ----- Portfolio ----- //
$portfolioGrid-image-width: em(285px);
$portfolioGrid-image-height: em(197px);
