// *************************************
//
//   Tools
//   -> Global utilities
//
// *************************************

// -------------------------------------
//   Background
// -------------------------------------

.bch {
  background: $c-highlight;
}

.bci {
  background: $c-background-invert;
}

.bcs {
  background: $c-subdue;
}

// -------------------------------------
//   Display
// -------------------------------------

.db {
  display: block;
}

.di {
  display: inline;
}

.dib {
  display: inline-block;
}

.dn {
  display: none;
}

// -------------------------------------
//   Margins
// -------------------------------------

// ----- All ----- //

.maxs {
  margin: $b-space-xs;
}

.mas {
  margin: $b-space-s;
}

.mam {
  margin: $b-space;
}

.mal {
  margin: $b-space-l;
}

.maxl {
  margin: $b-space-xl;
}

// ----- Bottom ----- //

.mbf {
  margin-bottom: 0;
}

.mbxs {
  margin-bottom: $b-space-xs;
}

.mbs {
  margin-bottom: $b-space-s;
}

.mbm {
  margin-bottom: $b-space;
}

.mbl {
  margin-bottom: $b-space-l;
}

.mbxl {
  margin-bottom: $b-space-xl;
}

// ----- Horizontal ----- //

.mhc {
  margin-left: auto;
  margin-right: auto;
}

// ----- Left ----- //

.mlf {
  margin-left: 0;
}

.mlxs {
  margin-left: $b-space-xs;
}

.mls {
  margin-left: $b-space-s;
}

.mlm {
  margin-left: $b-space;
}

.mll {
  margin-left: $b-space-l;
}

// ----- Right ----- //

.mrf {
  margin-right: 0;
}

.mrxs {
  margin-right: $b-space-xs;
}

.mrs {
  margin-right: $b-space-s;
}

.mrm {
  margin-right: $b-space;
}

.mrl {
  margin-right: $b-space-l;
}

// ----- Top ----- //

.mtf {
  margin-top: 0;
}

.mtxs {
  margin-top: $b-space-xs;
}

.mts {
  margin-top: $b-space-s;
}

.mtm {
  margin-top: $b-space;
}

.mtl {
  margin-top: $b-space-l;
}

.mtxl {
  margin-top: $b-space-xl;
}

// -------------------------------------
//   Padding
// -------------------------------------

// ----- All ----- //
.pf {
  padding: 0;
}

.paxs {
  padding: $b-space-xs;
}

.pas {
  padding: $b-space-s;
}

.pam {
  padding: $b-space;
}

.pal {
  padding: $b-space-l;
}

.paxl {
  padding: $b-space-xl;
}

// ----- Bottom ----- //

.pbf {
  padding-bottom: 0;
}

.pbxs {
  padding-bottom: $b-space-xs;
}

.pbs {
  padding-bottom: $b-space-s;
}

.pbm {
  padding-bottom: $b-space;
}

.pbl {
  padding-bottom: $b-space-l;
}

.pbxl {
  padding-bottom: $b-space-xl;
}

// ----- Left ----- //

.plf {
  padding-left: 0;
}

.plxs {
  padding-left: $b-space-xs;
}

.pls {
  padding-left: $b-space-s;
}

.plm {
  padding-left: $b-space;
}

.pll {
  padding-left: $b-space-l;
}

// ----- Right ----- //

.prf {
  padding-right: 0;
}

.prxs {
  padding-right: $b-space-xs;
}

.prs {
  padding-right: $b-space-s;
}

.prm {
  padding-right: $b-space;
}

.prl {
  padding-right: $b-space-l;
}

// ----- Top ----- //

.ptf {
  padding-top: 0;
}

.ptxs {
  padding-top: $b-space-xs;
}

.pts {
  padding-top: $b-space-s;
}

.ptm {
  padding-top: $b-space;
}

.ptl {
  padding-top: $b-space-l;
}

.ptxl {
  padding-top: $b-space-xl;
}

// -------------------------------------
//   Positioning
// -------------------------------------

.fl {
  float: left;
}

.fr {
  float: right;
}

.poa {
  position: absolute;
}

.pof {
  position: fixed;
}

.por {
  position: relative;
}

.pos {
  position: static;
}

// -------------------------------------
//   Rounding
// -------------------------------------

.ra {
  border-radius: 50%;
}

.ram {
  border-radius: $b-borderRadius;
}

.ran {
  border-radius: 0;
}

// -------------------------------------
//   Text
// -------------------------------------

// ----- Alignment ----- //

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

// ----- Color ----- //

.tch {
  color: $c-highlight;
}

.tci {
  color: $c-text-invert;
}

.tcs {
  color: $c-subdue;
}

.tct {
  color: $c-text;
}

// ----- Family ----- //

.tfb {
  font-family: $b-fontFamily;
}

.tfh {
  font-family: $b-fontFamily-heading;
}

// ----- Size ----- //

.ts {
  font-size: $b-fontSize;
}

.tsxs {
  font-size: $b-fontSize-xs;
}

.tss {
  font-size: $b-fontSize-s;
}

.tsm {
  font-size: $b-fontSize-m;
}

.tsl {
  font-size: $b-fontSize-l;
}

.tsxl {
  font-size: $b-fontSize-xl;
}

// ----- Style ----- //

.tsi {
  font-style: italic;
}

// ----- Transform ----- //

.ttu {
  text-transform: uppercase;
}

// ----- Weight ----- //

.twn {
  font-weight: normal;
}

.twb {
  font-weight: bold;
}

// -------------------------------------
//   Border
// -------------------------------------

// ----- Top ----- //

.bt {
  border-top: 1px solid $c-border;
}

// ----- Bottom ----- //

.bb {
  border-bottom: 1px solid $c-border;
}
