// *************************************
//
//   ArrowBottom
//
// *************************************

.arrowBottom {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-top-color: $nav-default-link-color;
    border-width: 14px 14px 0 14px;
    height: 0;
    width: 0;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Colors ----- //
.arrowBottom--we {
    border-top-color: $nav-we-link-color;
}

.arrowBottom--portfolio {
    border-top-color: $nav-portfolio-link-color;
}

.arrowBottom--blog {
    border-top-color: $nav-blog-link-color;
}

.arrowBottom--services {
    border-top-color: $nav-services-link-color;
}

.arrowBottom--contacts {
    border-top-color: $nav-contacts-link-color;
}