// *************************************
//
// background grid
//
// *************************************

.bgGridWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bgGrid {
    position: relative;
    margin: 0 auto;
    height: 0;
    width: $b-maxWidth;

    // &:after {
    //     content: ' ';
    //
    // }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

.bgGrid-inner {
    position: absolute;
    top: -3px;
    right: -599px;
    width: 609px;
    height: 417px;
    background-size: 609px 417px;
}

.bgGrid-inner--portfolio {
        background-image: url(../images/grid-portfolio.png);
}

.bgGrid-inner--services {
        background-image: url(../images/grid-services.png);
}

.bgGrid-inner--contacts {
        background-image: url(../images/grid-contacts.png);
}

// .bgGrid-inner--blog {
//     &:after {
//         background-image: url(../images/grid-blog.png);
//     }
// }
