// *************************************
//
//   Bucket
//   -> Based on:
//      * http://jsfiddle.net/necolas/rZvEF/
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .bucket[.bucket--flag]
//   .bucket-media
//     / ...
//   .bucket-content
//     / ...
//
// *************************************

.bucket {
  @extend .group;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Flag ----- //

.bucket--flag {
  display: table;
}

  .bucket-content {
    vertical-align: middle;
  }

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Content ----- //

.bucket-content {
  display: table-cell;
  width: 10000px;
}

// ----- Media ----- //

.bucket-media {
  float: left;
  margin-right: $b-space;
  > img {
    display: block;
    max-width: none;
  }
}
