// *************************************
//
//   Cell
//   -> Width-limiting blocks
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .cell[.cell--l]
//   / ...
//
// *************************************

.cell {
	margin-left: auto;
	margin-right: auto;
	width: $b-maxWidth;
	position: relative;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sizes ----- //

.cell--s {
	height: em(402px);
}

.cell--n {
	width: $b-maxWidth-n;
}
