// *************************************
//
//   Col
//   -> Column
//
// *************************************

.col {

}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sizes ----- //

.col--m1 {
	width: $b-column-m1;
}

.col--m2 {
	width: $b-column-m2;
}

.col--l1 {
	width: $b-column-l1;
}

.col--l2 {
	width: $b-column-l2;
}