// *************************************
//
//   Flexbox Grid
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.fgrid {
    @include flexbox();
    @include flex-wrap(wrap);
}

// -------------------------------------
//   Scaffolding
// -------------------------------------

.fgrid-cell {
    @include flex(1);
}

.fgrid-cell--half    {
    @include flex(0 0 50%);
}
.fgrid-cell--third   {
    @include flex(0 0 33.333%);
}
.fgrid-cell--quarter {
    @include flex(0 0 25%);
}
.fgrid-cell--fifth   {
    @include flex(0 0 20%);
}
