// *************************************
//
//   Grid
//   -> Based on the following:
//      * https://github.com/necolas/suit-grid
//      * https://github.com/csswizardry/csswizardry-grids
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .g
//   .g-b[.g-b--center|1of2|1of3|...]
//   .g-b[.g-b--center|1of2|1of3|...]
//   .g-b[.g-b--center|1of2|1of3|...]
//   .g-b[.g-b--center|1of2|1of3|...]
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

#{$g-selector}g {
  @extend .group;
  display: block;
  margin-left: -$g-gutter / 2;
  margin-right: -$g-gutter / 2;
}

#{$g-selector}g-b {
  box-sizing: border-box;
  float: left;
  margin: 0;
  padding-left: $g-gutter / 2;
  padding-right: $g-gutter / 2;
  width: 100%;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Center ----- //

#{$g-selector}g-b--center {
  display: block;
  float: none;
  margin: 0 auto;
}

// -------------------------------------
//   Setup
// -------------------------------------

@mixin device-type($namespace: "") {
  // ----- One Part ----- //
  #{$g-selector}g-b--#{$namespace}1of1 {
    width: 100%;
  }
  // ----- Two Parts ----- //
  #{$g-selector}g-b--#{$namespace}1of2 {
    width: 50%;
  }
  // ----- Three Parts ----- //
  @if $g-columns >= 3 {
    #{$g-selector}g-b--#{$namespace}1of3 {
      width: 33.333%;
    }
    #{$g-selector}g-b--#{$namespace}2of3 {
      width: 66.666%;
    }
  }
  // ----- Four Parts ----- //
  @if $g-columns >= 4 {
    #{$g-selector}g-b--#{$namespace}1of4 {
      width: 25%;
    }
    #{$g-selector}g-b--#{$namespace}2of4 {
      @extend #{$g-selector}g-b--#{$namespace}1of2;
    }
    #{$g-selector}g-b--#{$namespace}3of4 {
      width: 75%;
    }
  }
  // ----- Five Parts ----- //
  @if $g-columns >= 5 {
    #{$g-selector}g-b--#{$namespace}1of5 {
      width: 20%;
    }
    #{$g-selector}g-b--#{$namespace}2of5 {
      width: 40%;
    }
    #{$g-selector}g-b--#{$namespace}3of5 {
      width: 60%;
    }
    #{$g-selector}g-b--#{$namespace}4of5 {
      width: 80%;
    }
  }
  // ----- Six Parts ----- //
  @if $g-columns >= 6 {
    #{$g-selector}g-b--#{$namespace}1of6 {
      width: 16.666%;
    }
    #{$g-selector}g-b--#{$namespace}2of6 {
      @extend #{$g-selector}g-b--#{$namespace}1of3;
    }
    #{$g-selector}g-b--#{$namespace}3of6 {
      @extend #{$g-selector}g-b--#{$namespace}1of2;
    }
    #{$g-selector}g-b--#{$namespace}4of6 {
      @extend #{$g-selector}g-b--#{$namespace}2of3;
    }
    #{$g-selector}g-b--#{$namespace}5of6 {
      width: 83.333%;
    }
  }
  // ----- Eight Parts ----- //
  @if $g-columns >= 8 {
    #{$g-selector}g-b--#{$namespace}1of8 {
      width: 12.5%;
    }
    #{$g-selector}g-b--#{$namespace}2of8 {
      @extend #{$g-selector}g-b--#{$namespace}1of4;
    }
    #{$g-selector}g-b--#{$namespace}3of8 {
      width: 37.5%;
    }
    #{$g-selector}g-b--#{$namespace}4of8 {
      @extend #{$g-selector}g-b--#{$namespace}1of2;
    }
    #{$g-selector}g-b--#{$namespace}5of8 {
      width: 62.5%;
    }
    #{$g-selector}g-b--#{$namespace}6of8 {
      @extend #{$g-selector}g-b--#{$namespace}3of4;
    }
    #{$g-selector}g-b--#{$namespace}7of8 {
      width: 87.5%;
    }
  }
  // ----- Ten Parts ----- //
  @if $g-columns >= 10 {
    #{$g-selector}g-b--#{$namespace}1of10 {
      width: 10%;
    }
    #{$g-selector}g-b--#{$namespace}2of10 {
      @extend #{$g-selector}g-b--#{$namespace}1of5;
    }
    #{$g-selector}g-b--#{$namespace}3of10 {
      width: 30%;
    }
    #{$g-selector}g-b--#{$namespace}4of10 {
      @extend #{$g-selector}g-b--#{$namespace}2of5;
    }
    #{$g-selector}g-b--#{$namespace}5of10 {
      @extend #{$g-selector}g-b--#{$namespace}1of2;
    }
    #{$g-selector}g-b--#{$namespace}6of10 {
      @extend #{$g-selector}g-b--#{$namespace}3of5;
    }
    #{$g-selector}g-b--#{$namespace}7of10 {
      width: 70%;
    }
    #{$g-selector}g-b--#{$namespace}8of10 {
      @extend #{$g-selector}g-b--#{$namespace}4of5;
    }
    #{$g-selector}g-b--#{$namespace}9of10 {
      width: 90%;
    }
  }
  // ----- Twelve Parts ----- //
  @if $g-columns >= 12 {
    #{$g-selector}g-b--#{$namespace}1of12 {
      width: 8.333%;
    }
    #{$g-selector}g-b--#{$namespace}2of12 {
      @extend #{$g-selector}g-b--#{$namespace}1of6;
    }
    #{$g-selector}g-b--#{$namespace}3of12 {
      @extend #{$g-selector}g-b--#{$namespace}1of4;
    }
    #{$g-selector}g-b--#{$namespace}4of12 {
      @extend #{$g-selector}g-b--#{$namespace}1of3;
    }
    #{$g-selector}g-b--#{$namespace}5of12 {
      width: 41.666%;
    }
    #{$g-selector}g-b--#{$namespace}6of12 {
      @extend #{$g-selector}g-b--#{$namespace}1of2;
    }
    #{$g-selector}g-b--#{$namespace}7of12 {
      width: 58.333%;
    }
    #{$g-selector}g-b--#{$namespace}8of12 {
      @extend #{$g-selector}g-b--#{$namespace}2of3;
    }
    #{$g-selector}g-b--#{$namespace}9of12 {
      @extend #{$g-selector}g-b--#{$namespace}3of4;
    }
    #{$g-selector}g-b--#{$namespace}10of12 {
      @extend #{$g-selector}g-b--#{$namespace}5of6;
    }
    #{$g-selector}g-b--#{$namespace}11of12 {
      width: 91.666%;
    }
  }
}

// -------------------------------------
//   Creation
// -------------------------------------

@include device-type;

@each $device in $g-defaults {
  @media screen and (min-width: nth($device, 2)) {
    @include device-type("#{nth($device, 1)}--");
  }
}

