// *************************************
//
//   Navigation
//   -> Main navigation
//
// *************************************

.nav {
  margin: 0;
  padding: 0;
  text-align: right;
  text-transform: uppercase;
  a {
    border: 0 none;
    color: $nav-default-link-color;
  }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //
.nav--we {
  color: $nav-we-link-color;
}

.nav--portfolio {
  color: $nav-portfolio-link-color;
}

.nav--blog {
  color: $nav-blog-link-color;
}

.nav--services {
  color: $nav-services-link-color;
}

.nav--contacts {
  color: $nav-contacts-link-color;
}

// ----- Main ----- //
.nav--main {
  .nav-item {
    margin-left: em(25px);
  }
}

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Item ----- //

.nav-item {
  display: inline-block;
  list-style-type: none;
  margin: 0;
}

// Modifiers
.nav-item--we {
  a:hover, &.is-active a {
    @extend .nav--we;
  }
}

.nav-item--portfolio {
  a:hover, &.is-active a {
    @extend .nav--portfolio;
  }
}

.nav-item--blog {
  a:hover, &.is-active a {
    @extend .nav--blog;
  }
}

.nav-item--services {
  a:hover, &.is-active a {
    @extend .nav--services;
  }
}

.nav-item--contacts {
  a:hover, &.is-active a {
    @extend .nav--contacts;
  }
}

// States
// .nav-item.is-active {
//   font-weight: bold;
// }

// ----- Item-Text ----- //

.nav-item-text {
  text-align: center;
}
