// *************************************
//
//   Row
//   -> Width-spanning blocks
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .row[.row--a|b]
//   / ...
//
// *************************************

.row {
  overflow: hidden;
  padding: 0 $b-space;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

.row--a {
  background: $row--a-background;
}

.row--b {
  background: $row--b-background;
}
